<mat-card class="cadastro-card" appearance="outlined">
    <form method="POST" [formGroup]="formService.formCadastro" (ngSubmit)="criarNovo()" class="cadastro-form">

        <mat-card-header class="card-header">

                    <mat-card-title class="cadastro-title">Cadastro</mat-card-title> 
                    
                    <mat-card-subtitle class="cadastro-subtitle">Sua senha será envidada por email</mat-card-subtitle>

        </mat-card-header>

        <mat-card-content class="cadastro-content">

            <mat-form-field class="cadastro-email">
                <mat-label>Email</mat-label>
                <input type="email" matInput formControlName="email" [errorStateMatcher]="formService.matcher" placeholder="Ex. pat@example.com">
                <mat-hint>Digite seu email</mat-hint>
                @if (formService.emailFormControl.hasError('email') && !formService.emailFormControl.hasError('required')) {
                    <mat-error>Digite um endereço válido de email</mat-error>
                }
                @if (formService.emailFormControl.hasError('required')) {
                    <mat-error>Um email é <strong>obrigatório</strong></mat-error>
                }
            </mat-form-field>

            <mat-form-field class="cadastro-nome">
                <mat-label>Nome</mat-label>
                <input type="text" matInput formControlName="nome" [errorStateMatcher]="formService.matcher" placeholder="Ex. João Maria">
                <mat-hint>Digite seu nome</mat-hint>
                @if (formService.necessarioFormControl.hasError('required')) {
                    <mat-error>O nome é <strong>obrigatório</strong></mat-error>
                }
            </mat-form-field>

            <mat-form-field class="cadastro-cpf">
                <mat-label>CPF</mat-label>
                <input type="text" matInput formControlName="cpf" [errorStateMatcher]="formService.matcher" placeholder="000.000.000-00">
                <mat-hint>Digite seu CPF</mat-hint>
                @if (formService.necessarioFormControl.hasError('required')) {
                    <mat-error>O CPF é <strong>obrigatório</strong></mat-error>
                }
            </mat-form-field>
                <mat-form-field class="cadastro-cep">
                <mat-label>CEP</mat-label>
                <input type="text" matInput formControlName="cep" [errorStateMatcher]="formService.matcher" placeholder="00000-000">
                <mat-hint>Digite seu CEP</mat-hint>
                @if (formService.necessarioFormControl.hasError('required')) {
                    <mat-error>O CEP é <strong>obrigatório</strong></mat-error>
                }
            </mat-form-field>
            <mat-form-field class="cadastro-telefone">
                <mat-label>Telefone</mat-label>
                <input type="text" matInput formControlName="telefone" [errorStateMatcher]="formService.matcher" placeholder="00 00000-0000">
                <mat-hint>Digite seu telefone</mat-hint>
                @if (formService.necessarioFormControl.hasError('required')) {
                    <mat-error>O telefone é <strong>obrigatório</strong></mat-error>
                }
            </mat-form-field>

        </mat-card-content>

        <mat-card-actions class="cadastro-footer">

            <button type="submit" matButton="tonal" class="commom-button" >Cadastre-se</button>

        </mat-card-actions>

    </form>
</mat-card>


