<mat-toolbar color="primary" class="navbar">
  <span class="logo">Manutenções</span>

  <span class="spacer"></span>

  <nav class="nav-links">
    <a mat-button routerLink="/">Home</a>
    @if (auth.getRoles().includes("ROLE_CLIENTE")) {
      <a mat-button routerLink="/tela_usuario">Tela do Usuário</a>
      <a mat-button routerLink="/solicitar_manutencao">Solicitar Manutenção</a>
    }
    @if (auth.getRoles().includes("ROLE_FUNCIONARIO")) {
      <a mat-button routerLink="/lista-cadastros">Lista de Funcionários</a>
      <a mat-button routerLink="admin/tela-funcionario">Tela do Funcionário</a>
      <a mat-button routerLink="admin/solicitacoes">Todas Solicitações</a>
      <button mat-button routerLink="admin/categorias">Editar Categorias</button>
      <a mat-button routerLink="admin/relatorios">Relatórios</a>
    }

    @if (auth.getRoles().includes("ROLE_ADMIN")) {
      <button mat-button routerLink="admin/funcionarios">Editar Funcionários</button>
    }

  </nav>

  <span class="spacer"></span>

  <button class="login-button" mat-icon-button (click)="exibirLogin()">
    <mat-icon class="login-icon" aria-label="login" fontIcon="account_circle"></mat-icon>
  </button>
</mat-toolbar>

@if (mostrarLogin) {
  <app-login class="overlay"></app-login>
}
