.navbar {
  position: sticky;
  top: 0;
  background: #3e6486;
  display: flex;
  justify-content: center;
  gap: 25px;
  padding: 15px 30px;
  z-index: 1000;
}

.navbar a {
  padding: 10px 20px;
  text-align: center;
  border-radius: 8px;
  color: rgba(255, 255, 255, 0.857);
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s;
}

mat-toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links {
  display: flex;
  gap: 50px;
}

.spacer {
  flex: 1 1 auto;
}

a[mat-button] {
  color: white;
  font-weight: 0;
  text-transform: none;
  font-size: 14px;
}

a:hover {
  background: #395c7a;
}

.login-button {
  color: #303f9f00;
  background-color: #303f9f00;
  border: 0px;
}

.login-icon {
  font-size: 32px;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3e6486;
  color: white;
  cursor: pointer;
  transition: background 0.3s;
}

.login-icon:hover {
  background-color: #303f9f;
}

.overlay {
  position: fixed;
  top: 5%;
  right: 5%;
  z-index: 1000;
  border-radius: 12px;
  padding: 16px;
}