<mat-card class="login-card" appearance="outlined">


  <mat-card-header class="card-header">
    <mat-card-title class="login-title">Bem vindo(a)!</mat-card-title>
  </mat-card-header>

  <form class="login-form">

    <mat-card-content class="card-content"><!--TODO implementar form group-->

      <mat-form-field class="login-email">
        <mat-label>Email</mat-label>
        <input type="email" matInput [formControl]="formService.emailFormControl"
          [errorStateMatcher]="formService.matcher" placeholder="Ex. pat@example.com">
        <mat-hint>Digite seu email</mat-hint>
        @if (formService.emailFormControl.hasError('email') && !formService.emailFormControl.hasError('required')) {
        <mat-error>Digite um endereço válido de email</mat-error>
        }
        @if (formService.emailFormControl.hasError('required')) {
        <mat-error>Um email é <strong>obrigatório</strong></mat-error>
        }
      </mat-form-field>

      <mat-form-field class="login-senha">
        <mat-label>Senha</mat-label>
        <input type="password" matInput [type]="hide() ? 'password' : 'text'"
          [formControl]="formService.passwordFormControl" [errorStateMatcher]="formService.matcher"
          placeholder="Ex. #abc123">
        <mat-hint>Digite sua senha</mat-hint>
        @if (formService.passwordFormControl.hasError('email') && !formService.passwordFormControl.hasError('required'))
        {
        <mat-error>Digite uma senha válida</mat-error>
        }
        @if (formService.passwordFormControl.hasError('required')) {
        <mat-error>A senha é <strong>obrigatória</strong></mat-error>
        }
        <button matIconButton matSuffix (click)="clickEvent($event)" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide()" class="pass-icon">
          <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

    </mat-card-content>

    <mat-card-actions>
      <button matButton="tonal" class="submit-button" color="primary-300">Entrar</button>
      <button matButton="tonal" class="commom-button" (click)="goCadastro()">Cadastre-se</button>
    </mat-card-actions>

  </form>

</mat-card>
