<h2 mat-dialog-title>Detalhes da Solicitação</h2>
<mat-dialog-content>
  <p><strong>ID:</strong> {{ data.s.id }}</p>
  <p><strong>Data/Hora:</strong> {{ data.s.dataHoraFormatada }}</p>
  <p><strong>Equipamento:</strong> {{ data.s.equipamento }}</p>
  @if (data.s.categEquipamento?.nome) {
    <p><strong>Categoria:</strong> {{ data.s.categEquipamento?.nome }} </p>
  }
  <p><strong>Defeito</strong> {{ data.s.descDefeito }} </p>
  <p><strong>Estado:</strong>{{metodos.solicitacaoUtil.nomeEstado(data.s.estado)}}</p>
  @if (data.s.valorOrcamento) {
    <p><strong>ValorOrçado:</strong> R$:{{data.s.valorOrcamento}}</p>
  }
</mat-dialog-content>
<mat-dialog-actions>
  <button matButton mat-dialog-close>Fechar</button>
</mat-dialog-actions>
