<h2 mat-dialog-title>Detalhes da Solicitação #{{ data.s.id }}</h2>
<mat-dialog-content>

  <h3>Solicitação</h3>
  @if (data.s.cliente) {
    <p><strong>Cliente:</strong> {{ data.s.cliente.nome }} </p>
  }
  @if (data.s.funcionario) {
    <p><strong>Cliente:</strong> {{ data.s.funcionario.nome }} </p>
  }
  <p><strong>Equipamento:</strong> {{ data.s.equipamento }}</p>
  @if (data.s.categEquipamento?.nome) {
    <p><strong>Categoria:</strong> {{ data.s.categEquipamento?.nome }} </p>
  }
  <p><strong>Defeito:</strong> {{ data.s.descDefeito }} </p>
  <p><strong>Data/Hora:</strong> {{ data.s.dataHora | date:'dd/MM/yyyy HH:mm' }}</p>
  <p><strong>Estado:</strong> {{ metodos.solicitacaoUtil.nomeEstado(data.s.estado) }}</p>

  @if (data.s.valorOrcamento) {
    <mat-divider></mat-divider>
    <h3>Orçamento</h3>
    <p><strong>Valor Orçado:</strong> {{ data.s.valorOrcamento | currency:'BRL' }}</p>
    <p><strong>Data do Orçamento:</strong> {{ data.s.dataOrcamento | date:'dd/MM/yyyy' }}</p>
    <p><strong>Orçado por:</strong> {{ data.s.funcionario?.nome || 'N/A' }}</p>
  }

  @if (data.s.descricaoManutencao) {
    <mat-divider></mat-divider>
    <h3>Manutenção</h3>
    <p><strong>Descrição da Manutenção:</strong> {{ data.s.descricaoManutencao }}</p>
    <p><strong>Orientações ao Cliente:</strong> {{ data.s.orientacoesCliente }}</p>
    <p><strong>Data da Manutenção:</strong> {{ data.s.dataManutencao | date:'dd/MM/yyyy' }}</p>
  }

  @if (data.s.dataFechamento) {
    <mat-divider></mat-divider>
    <h3>Finalização</h3>
    <p><strong>Data de Finalização:</strong> {{ data.s.dataFechamento | date:'dd/MM/yyyy HH:mm' }}</p>
    <p><strong>Finalizado por:</strong> {{ data.s.funcionario?.nome || 'N/A' }}</p>
  }

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Fechar</button>
</mat-dialog-actions>
