<div class="container">
  <h2>Minhas Solicitações</h2>

  <div>
    <a routerLink="/solicitar_manutencao" class="btn-nova">+ Nova Solicitação</a>
  </div>

  @if (solicitacoes.length === 0) {
    <p style="text-align: center; color: #666;">Nenhuma solicitação encontrada.</p>
  }

  @for (s of solicitacoes; track s.id) {
    <div class="card">
      <div class="info">
        <p><strong>Data/Hora:</strong> {{ s.dataHoraFormatada }}</p>
        <p><strong>Equipamento:</strong> {{ s.equipamentoCurto }}</p>
        <p><strong>Estado:</strong> {{ solicitacaoUtil.nomeEstado(s.estado) }}</p>
        @if (s.valorOrcamento) {
          <p><strong>ValorOrçado:</strong> R${{s.valorOrcamento}}</p>
        }
      </div>

      <div class="actions">
        <button (click)="visualizar(s.id!)">Visualizar</button>

        @if (s.estado === enum.Orcada) {
          <button class="btn-aprovar" (click)="aprovarRejeitar(s.id!)">
            Aprovar/Rejeitar
          </button>
        }

        @if (s.estado === enum.Arrumada) {
          <button class="btn-pagar" (click)="pagar(s.id!)">
            Pagar Serviço
          </button>
        }

        @if (s.estado === enum.Rejeitada) {
          <button class="btn-resgatar" (click)="resgatar(s.id!)">
            Resgatar Serviço
          </button>
        }
      </div>
    </div>
  }
</div>
